{% extends "base.html" %}
{% block content %}
<h2 class="mb-4">Checkout</h2>
<table class="table">
  <thead>
    <tr>
      <th>Product</th><th>Qty</th><th>Price</th><th>Subtotal</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart_items %}
    <tr>
      <td>{{ item.product.name }}</td>
      <td>{{ item.quantity }}</td>
      <td>₹{{ item.product.price }}</td>
      <td>₹{{ item.total_price }}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3" class="text-end fw-bold">Total</td>
      <td class="fw-bold text-success">₹{{ total }}</td>
    </tr>
  </tfoot>
</table>
<form method="post">
  {% csrf_token %}
  <div class="text-end">
    <button type="submit" class="btn btn-lg btn-success">Place Order</button>
    <a href="{% url 'cart' %}" class="btn btn-outline-secondary">Back to Cart</a>
  </div>
</form>
{% endblock %}
